<!-- ============================= -->
<!--             FOOTER            -->
<!-- ============================= -->
<div class="card text-center bg-dark text-light">
  <div class="card-header text-info">
    FitnessClub
  </div>
  <div class="card-body">
    <h5 class="card-title">You are gonna love this!</h5>
    <p class="card-text">We have a special offer <i class="bi bi-arrow-right text-info"></i>  exclusively for you.</p>
    <a href="#" class="btn btn-primary">I want it</a>
  </div>
  <div class="card-footer text-muted">
    ©Milenio 3
  </div>
</div>
