<div class="p-5 m-5" id="gimnasio"></div>

<!-- ::: NOSOTROS ::: -->
<section class="mx-auto text-center pb-5">
  <div class="p-4" id="weare">
      <h2>
          <span class="span4">Gym.</span>
      </h2>
  </div>

  <i class="bi bi-balloon-heart text-warning fs-2"></i>
  <div class="container-fluid d-flex w-50">
      <div class="d-flex p-2 m-2 fw-bold">We are an interdisciplinary group with adherence to the philosophy of health and wellness. We devote ourselves with professionalism to the achievement of our objectives. </div>
      <div class="d-flex p-2 m-2 fw-bold">We have a social commitment under ethical standards framed by respect for human dignity and individual rights.</div>
  </div>
  <i class="bi bi-clipboard2-data text-info fs-2"></i>

  <div class="w-75 mx-auto d-md-none mt-2">
      <h2>We are trained in ethics and morals.</h2>
  </div>

  <div class="w-50 mx-auto">
      <div class="p-4">
          <p class="mt-4 fs-3 text-secondary">A proposal to acquire <span class="fw-bold">all the strengths</span></p>
      </div>
      
      <p class="p-4 fs-4" id="intro">We believe in the principle of social equality<br>that is why we guarantee our work by promoting a<br><span class="fw-bold">society that respects individual differences.</span></p>
  </div>
</section>