<div class="p-2 m-2" ></div>

<!-- ::: SLIDER ::: -->
<section class="w-50 mx-auto pt-4 mt-4">
  <h2 class="text-center p-5" style="color:#007CF0">
    What do we offer you?
  </h2>
  <div style="line-height : 35px;" class="fs-5 text-center">
    At FITNESS CLUB we offer you to come and train with us, with a personalized plan according to your own goals, we believe this is <strong> most effective way</strong> to get in shape. Our staff of trainers will work with you individually to motivate, care for and guide you as you focus on your goals. We have a wide variety of tools for your personal training, such as <span class="fw-bold">new machine technologies</span>, pre-flexibility training, muscle training, functional training and weight training. Adding to all this, an <strong> anthropometric study</strong>, one of the most complete in the market, which will allow us to work based on percentages and specific measurements and not only on the subjectivity of a training plan.
    We hope you visit our gym, you can ask for your personalized plan via web with a periodic follow-up and download our app to keep track of your progress in the most effective way.
  </div>
</section>